<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>INICIO</title>
</head>

<body>


    <div class="container-fluid">

        <div class="row justify-content-center  my-5">
            <!--card-->
            <div class="card m-2 text-white bg-primary shadow p-2 my-3 rounded" style="width: 19rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        Nome do Crud
                    </h5>
                    <h6>by:</h6>
                    <p>
                        Carlos
                    </p>
                    <a href="/cadastro" class="btn btn-outline-light">Acessar</a>
                </div>
            </div>
            <!--Fim do card-->
            <div class="card m-2 text-white bg-warning shadow p-2 my-3 rounded" style="width: 19rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        Nome do Crud
                    </h5>
                    <h6>by:</h6>
                    <p>
                        Ian
                    </p>
                    <a href="#" class="btn btn-outline-light">Acessar</a>
                </div>
            </div>

            <div class="card m-2 text-white bg-success shadow p-2 my-3 rounded" style="width: 19rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        Registros de Denúncias
                    </h5>
                    <h6>by:</h6>
                    <p>
                        Izadora
                    </p>
                    <a href="/iza" class="btn btn-outline-light">Acessar</a>
                </div>
            </div>
            <div class="card m-2 text-white bg-danger shadow p-2 my-3 rounded" style="width: 19rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        Nome do Crud
                    </h5>
                    <h6>by:</h6>
                    <p>
                        João
                    </p>
                    <a href="/projA" class="btn btn-outline-light">Acessar</a>
                </div>
            </div>

            <div class="card m-2 text-white bg-secondary shadow p-2 my-3 rounded" style="width: 19rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        Cadastro Profissional
                    </h5>
                    <h6>by:</h6>
                    <p>
                        Paulo Barbosa
                    </p>
                    <a href="/registros" class="btn btn-outline-light">Acessar</a>
                </div>
            </div>

            <div class="card m-2 text-white bg-info shadow p-2 my-3 rounded" style="width: 19rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        Nome do Crud
                    </h5>
                    <h6>by:</h6>
                    <p>
                        Robson
                    </p>
                    <a href="#" class="btn btn-outline-light">Acessar</a>
                </div>
            </div>

            <div class="card m-2 text-white bg-dark shadow p-2 my-3 rounded" style="width: 19rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        Nome do Crud
                    </h5>
                    <h6>by:</h6>
                    <p>
                        Vagner
                    </p>
                    <a href="/listagem" class="btn btn-outline-light">Acessar</a>
                </div>
            </div>
        </div>
        <!--Fim do card-->
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
</body>

</html>