<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">CRUD</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          João
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/show">Todos</a>
          <a class="dropdown-item" href="/">Registrar</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/curso">Carlos</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/cursos">Ian</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Izadora
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/showDenuncias">Todas</a>
          <a class="dropdown-item" href="/denunciar">Denunciar</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/registros">Paulo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/listagem">Vagner</a>
      </li>
    </ul>
  </div>
</nav>
