<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <title>CRUD COM NODE</title>
  </head>
  <style>
    .grey-bg {
      background-color: #eee;
    }

    .bg-blue {
      background-color: #fefefe;
    }

    .label-size {
      font-size: 1.05em;
      font-weight: bold;
    }
  </style>
  <body class="grey-bg">
    <%- include ("..\\partialNavbar.ejs") %>  
   <header class="mb-5 mt-4">
      
    </header>

    <div class="container mb-5">
      <div class="row justify-content-center">
        <a href="showProdutos" class="btn btn-outline-dark">Lista de produtos</a>
      </div>
    </div>

    <h1 style="text-align: center">Cadastrar novo produto</h1>

    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-2"></div>
        <section class="col-lg-6 col-sm-8 bg-blue p-4 rounded shadow">
          <form action="/cadastrarProduto" method="post">

            <div class="form-group">
              <label for="nome" class="label-size text-dark">Produto</label>
              <input type="text" class="form-control" id="produto" name="produto" required/>
            </div>

            <div class="form-group">
              <label for="descricao" class="label-size text-dark">Descrição </label>
              <input type="text" class="form-control" name="descricao" id="descricao" required />
            </div>

            <div class="form-group">
              <label for="quantidade" class="label-size text-dark">Quantidade </label>
              <input type="number" class="form-control" id="quantidade" name="quantidade" required />
            </div>

            <div class="form-group">
              <label for="precoUnitario" class="label-size text-dark" >Preço unitário </label>
              <input type="number" min="0.01" class="form-control" id="precoUnitario" name="precoUnitario"
              placeholder="R$ 999.990,00" required>
            </div>

            <div class="form-group">
              <label for="fornecedor" class="label-size text-dark" >Fornecedor </label>
              <input type="text" class="form-control" id="fornecedor" name="fornecedor" required />
            </div>

            <div class="mb-3">
              <p class="label-size">Novo/Usado</p>
              <input type="radio" name="novoUsado" id="novo" value="novo" checked />
              <label for="novo">Novo</label>
              <input type="radio" name="novoUsado" id="usado" class="r" value="usado" />
              <label for="usado">Usado</label>
            </div>

            <div class="form-group">
              <label for="cor" class="label-size text-dark" > Cor  </label>
              <input type="text" class="form-control" id="cor" name="cor" required />
            </div>

            <div class="form-group">
              <label for="tamanho" class="label-size text-dark" > Tamanho </label>
              <input type="text" class="form-control" id="tamanho" name="tamanho" required />
            </div>

            <div class="container">
              <div class="row justify-content-end">
                <button type="submit" class="btn btn-outline-dark mr-2" onclick="validar()" >
                  Cadastrar
                </button>
              </div>
            </div>
          </form>
        </section>
        <div class="col-3 col-sm-2"></div>
      </div>
    </div>

    <div class="m-5"></div>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
