<%- include("componentes/header.ejs")%>
<title>Cadastro de Estagiário</title>

<%- include("componentes/menu.ejs")%>
<div class="container">
    <div class="shadow p-5 my-5 bg-dark text-white">
        <div class="row">
            <div class="col-md-12">
                <div class="badge:empty">
                    <h2><small class="text-center">Registro</small></h2>
                    <form action="/cad" method="POST">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label for="Nome">Nome</label>
                                <input type="Nome" class="form-control" name="nome" aria-describedby="nome"
                                    placeholder="Digite seu nome">
                                <small id="Nome" class="form-text text-muted"></small>
                            </div>

                            <div class="col-md-4">
                                <label for="Sobrenome">Sobrenome</label>
                                <input type="Sobrenome" class="form-control" name="sobrenome"
                                    aria-describedby="sobrenome" placeholder="Digite seu sobrenome">
                                <small id="Sobrenome" class="form-text text-muted"></small>
                            </div>

                            <div class="col-md-4">
                                <label for="CPF">CPF</label>
                                <input type="CPF" class="form-control" name="cpf" aria-describedby="cpf"
                                    placeholder="Digite seu CPF">
                                <small id="CPF" class="form-text text-muted"></small>
                            </div>

                            <div class="col-md-4">
                                <label for="Email">Email</label>
                                <input type="Email" class="form-control" name="email" aria-describedby="email"
                                    placeholder="Digite o seu email">
                                <small id="Email" class="form-text text-muted"></small>
                            </div>

                            <div class="col-md-4">
                                <label for="Telefone">Telefone</label>
                                <input type="Telefone" class="form-control" name="telefone" aria-describedby="telefone"
                                    placeholder="Digite seu telfone">
                                <small id="Telefone" class="form-text text-muted"></small>
                            </div>

                            <div class="col-md-4">
                                <label for="Instituicao">Instituição</label>
                                <input type="Instituicao" class="form-control" name="instituicao"
                                    aria-describedby="instituicao" placeholder="Digite a instituicao de ensino">
                                <small id="Instituicao" class="form-text text-muted"></small>
                            </div>

                            <div class="col-md-4">
                                <label for="Curso">Curso</label>
                                <input type="Curso" class="form-control" name="curso" aria-describedby="curso"
                                    placeholder="Digite seu curso">
                                <small id="Curso" class="form-text text-muted"></small>
                            </div>

                            <div class="col-md-4">
                                <label for="Semestre">Semestre</label>
                                <input type="Semestre" class="form-control" name="semestre" aria-describedby="semestre"
                                    placeholder="Digite o semestre">
                                <small id="Semestre" class="form-text text-muted"></small>
                            </div>
                            <br />
                        </div>
                        <button type="submit" class="btn badge-light">Submit</button>
                        <a class="btn btn- mr-2 justify-content badge-light" href="/listagem" type="submit">Listagem</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("componentes/footer.ejs")%>